body {
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #f8f011;
  }
  
  .container {
    background-color: hsla(0, 30%, 80%, 0.464);
    box-shadow: 0 0 10px rgba(216, 19, 19, 0.2);
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #ff0000;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ff0202;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00cc11;
  }
  
  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ff0000;
  }